[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
[mysqld_safe]
log-error=/var/lib/mysql/log/mariadb.log
pid-file=/var/lib/mysql/run/mariadb.pid
!includedir /etc/my.cnf.d
